#accueil {
   .ligne_1 {
        .card {
            border: none;
            box-shadow: 1px 2px 3px #ebeaeab8;
            cursor: pointer;
            transform: scale(1);
            transition: transform .4s ease-in-out;
            &:hover {
                transform: scale(1.04);
            }

            .card-body {
                .container_points {
                    position: absolute;
                    top: .1rem;
                    right: .7rem;

                    span {
                        cursor: pointer;
                        svg {
                            fill: #bebebee8;
                        }
                    }
                }

                .container_element {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .container_icone {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 43px;
                        height: 43px;
                        border-radius: 50%;
                    }

                    .container_texte {
                        display: flex;
                        flex-direction: column;

                        .nombre {
                            color: #063b48ea;
                            filter: drop-shadow(1px 2px 3px #041b2011);
                        }

                        .texte {
                            color: #74798dea;
                        }
                    }
                }
            }
        }   
   }

   .ligne_2 {
        .container_canvas {
            box-shadow: 1px 2px 3px #ebeaeab8;
            display: flex;
            flex-direction: column;

            &.stat1 {
                align-items: center;
                span {
                    font-size: .95rem;
                }
            }

            span {
                color: #063b48ea;
                filter: drop-shadow(1px 2px 3px #041b2011);
                letter-spacing: 1px;
            }

            hr {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 1px;
                color: #c7c7c7c9;
            }

            &.stat2 {
                .entete {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
   }
}
