<div class="container-fluid" id="etudiants">
    <div class="loader my-1" *ngIf="loading$ | async"></div>
    <div class="row px-2 pb-2 rounded-3 row_table">
        <div class="reset_icon">
            <span (click)="onResetFilter()"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </span>
        </div>
        <div class="col-12 mt-2 mb-3 container_filter">
            <div class="container">
                <div class="row row_select">
                    <div class="col-12 col-md-3 mb-2" *ngIf="statuspro$ | async as statuspro">
                        <label for="filter_status" class="my-1 ms-2">Status professionnels</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm" 
                            id="filter_status" [formControl]="statusCtrl">
                            <option selected value="">- - -</option>
                            <option *ngFor="let data of statuspro" 
                                [value]="data.status">{{data.status | shorten: 37}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2" *ngIf="domaines$ | async as domaines">
                        <label for="filter_domaine" class="my-1 ms-2">Domaine de competences</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm" 
                            id="filter_domaine" [formControl]="domaineCtrl">
                            <option selected value="">- - -</option>
                            <option *ngFor="let data of domaines" 
                                [value]="data.nom">{{data.nom | shorten : 37}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2" *ngIf="promotions$ | async as promotions">
                        <label for="filter_promotions" class="my-1 ms-2">Promotions</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm" 
                            id="filter_promotions" [formControl]="promotionCtrl">
                            <option selected value="">- - -</option>
                            <option *ngFor="let data of promotions"
                                [value]="data.annee">{{data.annee}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2" *ngIf="filieres$ | async as filieres">
                        <label for="filter_filiere" class="my-1 ms-2">Filières</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm" 
                            id="filter_filiere" [formControl]="filiereCtrl">
                            <option selected value="">- - -</option>
                            <option *ngFor="let data of filieres"
                                [value]="data.nom_filiere">{{data.nom_filiere | shorten : 37}}</option>
                        </select>
                    </div>
                </div>
                <div class="row row_input_text justify-content-center">
                    <div class="col-12 col-md-5">
                        <div class="form-floating mb-1 mt-3 mx-1 mx-md-2 position-relative">
                            <input type="text" class="form-control rounded-pill ps-4" 
                                id="filter_nom" placeholder="Nom ***" [formControl]="nomCtrl">
                            <label for="filter_nom" class="ms-2">Nom ***</label>
                            <div class="search_icone">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_etudiants col-12">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ecole</th>
                        <th>Niveau</th>
                        <th>Filière</th>
                        <th>Status professionnel</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Curriculum vitae</th>
                        <th>Promotion</th>
                        <th>Région</th>
                        <th>Domaine de compétences</th>
                        <th>Réseaux sociaux</th>
                    </tr>
                </thead>
                <tbody *ngIf="etudiants$ | async as etudiants">
                    <tr *ngFor="let etudiant of etudiants">
                        <td class="text-center">
                            <div class="dropdown-center dropdown_dot">
                                <span class="" type="button" 
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </span>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item my-1 modifier" (click)="onUpdate(etudiant)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        <span class="ms-2">Modifier</span>
                                    </li>
                                    <li class="dropdown-item my-1 supprimer"(click)="onRemove(etudiant)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                        <span class="ms-2">Supprimer</span>
                                    </li>
                                </ul>
                            </div>
                            <img [src]="etudiant.pdp" width="31" height="31" class="img-fluid rounded-circle">
                            <br>
                            <span class="fw-bold">
                                {{etudiant.nom + ' ' + etudiant.prenoms}}
                            </span>
                        </td>
                        <td class="text-center">{{etudiant.ecole}}</td>
                        <td class="text-center">{{etudiant.niveau_etude}}</td>
                        <td class="text-center">{{etudiant.nom_filiere}}</td>
                        <td class="text-center">
                            <div class="py-1 px-2 rounded-1 fw-bold" statusColor [status]="etudiant.status_id">
                                {{etudiant.status_professionnel}}
                            </div>
                        </td>
                        <td>{{etudiant.email}}</td>
                        <td class="text-center">
                            <span>{{etudiant.tel1 | removespace}}</span>
                            <br>
                            <span >{{etudiant.tel2! | removespace}}</span>
                        </td>
                        <td class="text-center">
                            <a [href]="etudiant.lien_cv" target="_blank">{{etudiant.lien_cv}}</a>
                        </td>
                        <td class="text-center">{{etudiant.promotion}}</td>
                        <td class="text-center">{{etudiant.nom_region}}</td>
                        <td class="text-center">{{etudiant.nom_domaine}}</td>
                        <td>
                            <a [href]="etudiant.linkedin" target="_blank">{{etudiant.linkedin}}</a>
                            <br><br>
                            <a [href]="etudiant.facebook" target="_blank">{{etudiant.facebook}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="p-1" id="add_button" (click)="listenStatusCreateModal()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
</div>

<!-- ==================== MODAL AJOUTER ETUDIANTS ===================== -->
<div class="modal fade" id="modalCreateEtudiants" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modalCreateEtudiantsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content" [formGroup]="createForm" (ngSubmit)="onSubmitCreate()">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="modalCreateEtudiantsLabel">Ajouter un étudiant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close" (click)="onCloseCreate()">
                </button>
            </div>
            <div class="modal-body">
                <div class="row my-3 mx-1 px-1 py-3">
                    <!-- ========== NOM ========== NOM =========== NOM ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="nom_create"
                                placeholder="Nom ***" formControlName="nom">
                            <label for="nom_create" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <span class="mx-2">Nom ***</span>
                            </label>
                        </div>
                    </div>

                    <!-- ========= PRENOMS ========== PRENOMS ========== PRENOMS ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control ps-4" id="prenoms_create"
                                placeholder="Prenoms ***" formControlName="prenoms">
                            <label for="prenoms_create" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <span class="mx-2">Prenoms ***</span>
                            </label>
                        </div>
                    </div>

                    <!-- ========== EMAIL =========== EMAIL =========== EMAIL ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control ps-4" id="email_create"
                                placeholder="Email ***" [formControl]="emailCtrl">
                            <label for="email_create" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                                </svg>
                                <span class="mx-2">Email ***</span>
                            </label>
                        </div>
                        <div class="ms-2 text-danger" style="color: #f31515f3;">{{getErrorCtrl(emailCtrl)}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill close"
                    data-bs-dismiss="modal" (click)="onCloseCreate()">Annuler</button>
                <button class="btn rounded-pill valider" [disabled]="createForm.invalid"
                    type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<!-- ==================== MODAL MODIFIER ETUDIANTS ===================== -->
<div class="modal fade" id="modalModifierEtudiants" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="modalModifierEtudiantsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <form class="modal-content" [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="modalModifierEtudiantsLabel">Modifier un profil d'étudiant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close" (click)="onCloseUpdate()">
                </button>
            </div>
            <div class="modal-body">
                <div class="row my-3 mx-1 px-1 py-3">
                    <!-- ========== NOM ========== NOM =========== NOM ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ps-4" id="nom_update"
                                placeholder="Nom ***" formControlName="nom">
                            <label for="nom_update" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <span class="mx-2">Nom ***</span>
                            </label>
                        </div>
                    </div>

                    <!-- ========= PRENOMS ========== PRENOMS ========== PRENOMS ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control ps-4" id="prenoms_update"
                                placeholder="Prenoms ***" formControlName="prenoms">
                            <label for="prenoms_update" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                                </svg>
                                <span class="mx-2">Prenoms ***</span>
                            </label>
                        </div>
                    </div>

                    <!-- ========== EMAIL =========== EMAIL =========== EMAIL ========== -->
                    <div class="col-12">
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control ps-4" id="email_update"
                                placeholder="Email ***" [formControl]="emailUpdateCtrl">
                            <label for="email_update" class="ps-4 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                                </svg>
                                <span class="mx-2">Email ***</span>
                            </label>
                        </div>
                        <div class="ms-2 text-danger" style="color: #f31515f3;">{{getErrorCtrl(emailUpdateCtrl)}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill close"
                    data-bs-dismiss="modal" (click)="onCloseUpdate()">Annuler</button>
                <button class="btn rounded-pill valider" [disabled]="updateForm.invalid"
                    type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<!-- ============================== MODAL SUPPRIMER ETUDIANTS ========================= -->
<div class="modal fade" id="modalSupprimerEtudiants" data-bs-backdrop="static" 
    tabindex="-1" aria-labelledby="modalSupprimerEtudiantsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 fw-bold" id="modalSupprimerEtudiantsLabel">Suppression</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                    (click)="onCloseDelete()"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" 
                    class="w-25" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <div class="ms-2">
                    Voulez-vous supprimer <span class="fw-bold">{{currentEtudiant?.nom + ' ' +currentEtudiant?.prenoms}}?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-muted close" 
                    data-bs-dismiss="modal" (click)="onCloseDelete()">Non</button>
                <button type="button" class="btn text-danger valider fw-bold" 
                    (click)="onConfirmDelete()">Oui</button>
            </div>
        </div>
    </div>
</div>
