<div class="container-fluid" id="emplois">
    <div class="row mx-md-1 justify-content-center align-items-center py-3">
        <div class="container_texte container px-3">
            <div class="container_input row py-1 px-3 rounded-3 justify-content-center">
                <div class="form-floating col-12 col-md-5 m-2 position-relative">
                    <input type="text" class="form-control rounded-pill ps-4" 
                        id="nom" placeholder="Nom ***" [formControl]="nomSearchCtrl">
                    <label for="nom" class="ms-2">Nom ***</label>
                    <div class="search_icone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>
                </div>
                <div class="form-floating col-12 col-md-5 m-2 position-relative">
                    <input type="text" class="form-control rounded-pill ps-4" 
                        id="categorie" placeholder="Categorie ***" [formControl]="categorieSearchCtrl">
                    <label for="categorie" class="ms-2">Categorie ***</label>
                    <div class="search_icone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_cartes my-3 py-2">
            <ng-container *ngIf="(emplois$|async)?.length; else empty">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col" *ngFor="let data of emplois$ | async">
                        <app-emploi-item [emploi]="data"
                        (displayModal)="listenStatusDisplayerModal($event)"></app-emploi-item>
                    </div>
                </div>
            </ng-container>
            <ng-template #empty>
                <div class="row mt-3 empty_emplois">
                    <div class="col-12 text-center rounded-3">
                        <img ngSrc="assets/images/emplois.svg" width="411" height="411" priority
                            class="img-fluid">
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- ============================== MODAL DISPLAY EMPLOIS ========================= -->
<div class="modal fade" id="modalDisplayEmplois" data-bs-backdrop="static" 
    tabindex="-1" aria-labelledby="modalDisplayEmploisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 fw-bold" id="modalDisplayEmploisLabel">{{currentEmploi?.nom_emploi}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
                    (click)="oncloseDisplay()"></button>
            </div>
            <div class="modal-body">
                <div class="entete">
                    <span class="fw-bold nom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="me-1" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                        </svg>
                        {{currentEmploi?.nom_admin}}
                    </span>
                    <span class="ms-4 date">{{currentEmploi?.created_at | date: 'dd MMMM  y, HH:mm:ss'}}</span>
                </div>
                <div class="rounded-3 mt-3 py-2 px-3 description_emploi">
                    <span [innerHTML]="currentEmploi?.description"></span>
                </div>
                <div class="categorie_emploi mt-3 text-end">
                    <span class="titre fw-bold">Categorie d'emplois:</span>
                    {{currentEmploi?.categorie_emplois | titlecase}}
                </div>
            </div>
        </div>
    </div>
</div>
