<div class="sidebar">
    <div class="d-flex justify-content-center align-items-center toggle_sidebar"
        id="toggle_sidebar" (click)="onToggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </div>
    <div class="scroll_nav">
        <div class="nav-container mt-3">
            <ul class="mb-3">
                <li class="m-2 rounded-3 listMenu" 
                    *ngFor="let data of menu"
                    [style]="statusSidebar 
                        ? 'justify-content: space-between; width: 209px;'
                        : 'justify-content: center;'"
                    [routerLink]="data.route"
                    routerLinkActive="active_light"
                    [routerLinkActiveOptions]="{exact: true}">
                   <div class="label">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#0093b7"
                            style="filter: drop-shadow(1px 2px 1px #e3dcdc6b);"
                            class="m-2" viewBox="0 0 16 16">
                            <path [attr.d]="data.pathSvg_1"/>
                            <path *ngIf="data.pathSvg_2" [attr.d]="data.pathSvg_2"/>
                        </svg>
                        <span class="fw-bold mx-2"
                            [style]="statusSidebar ? 'display: block': 'display: none'">
                            {{data.label}}
                        </span>
                    </div>
                    <ng-container *ngIf="data.route === '/dashbord/emplois'">
                        <span *ngIf="current$ | async" class="current"></span>
                    </ng-container>
                </li>
            </ul>
            <hr class="border border-1 my-3">
            <!-- ====================  -->
            <ul class="mb-3">
                <li class="m-2 rounded-3 listMenu" 
                    [style]="statusSidebar 
                        ? 'justify-content: space-between; width: 209px;'
                        : 'justify-content: center;'"
                    routerLink="/dashbord/comptes"
                    routerLinkActive="active_light"
                    [routerLinkActiveOptions]="{exact: true}">
                   <div class="label">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#0093b7"
                            style="filter: drop-shadow(1px 2px 1px #e3dcdc6b);"
                            class="m-2" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
                        </svg>
                        <span class="fw-bold mx-2"
                            [style]="statusSidebar ? 'display: block': 'display: none'">Comptes</span>
                    </div>
                </li>
            </ul>
            <!-- ==================== -->
            <div class="log_out rounded-3 mt-5" (click)="onLogout()">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-2" viewBox="0 0 16 16" fill="#ffffff">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
                <span class="fw-bold mx-2"
                    [style]="statusSidebar ? 'display: block': 'display: none'">
                    Se deconnecter
                </span>
            </div>
        </div>
    </div>
</div>