<div class="container-fluid" id="exporter">
    <div class="loader my-1" *ngIf="loading$ | async"></div>
    <div class="row p-1">
        <form class="col-12 p-3 rounded-3 container_exporter" 
            [formGroup]="exporterForm" (ngSubmit)="onSubmitExporter()">
            <div class="row row-cols-1 row-cols-md-3 g-4 container_carte">
                <!-- ========================== STATUS PROFESSIONNELS ======================= -->
                <div class="col" *ngIf="statuspro$ | async as statuspro">
                    <div class="card h-100">
                        <div class="image_card text-center p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title fs-5 text-center fw-bold titre">Status professionnels</div>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let data of statuspro">
                                        <input class="form-check-input me-1" type="checkbox" 
                                        [value]="data.id" [id]="'statuspro_'+data.id" 
                                        formArray="statusproArray" (change)="onChangeStatuspro($event)">
                                        <label class="form-check-label ms-2" [for]="'statuspro_'+data.id">
                                            {{data.status | shorten: 31}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========================== DOMAINE DE COMPÉTENCES ======================= -->
                <div class="col" *ngIf="domaines$ | async as domaines">
                    <div class="card h-100">
                        <div class="image_card text-center p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/>
                                <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title fs-5 text-center fw-bold titre">Domaine de compétences</div>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let data of domaines">
                                        <input class="form-check-input me-1" type="checkbox" 
                                        [value]="data.id" [id]="'domaines_'+data.id"
                                        formArray="domainesArray" (change)="onChangeDomaines($event)">
                                        <label class="form-check-label ms-2" [for]="'domaines_'+data.id">
                                            {{data.nom | shorten: 31}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======================== FILIÈRES ======================= -->
                <div class="col" *ngIf="filieres$ | async as filieres">
                    <div class="card h-100">
                        <div class="image_card text-center p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title fs-5 text-center fw-bold titre">Filières</div>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let data of filieres">
                                        <input class="form-check-input me-1" type="checkbox" 
                                        [value]="data.id" [id]="'filieres_'+data.id"
                                        formArray="filieresArray" (change)="onChangeFilieres($event)">
                                        <label class="form-check-label ms-2" [for]="'filieres_'+data.id">
                                           {{data.nom_filiere}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ======================== PROMOTIONS ======================= -->
                <div class="col" *ngIf="promotions$ | async as promotions">
                    <div class="card h-100">
                        <div class="image_card text-center p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M9.402 10.246c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-4.118 9.79c1.258 0 2-1.067 2-2.872 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684c.047.64.594 1.406 1.703 1.406zm-2.89-5.435h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675V7.354z"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title fs-5 text-center fw-bold titre">Promotions</div>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let data of promotions">
                                        <input class="form-check-input me-1" type="checkbox" 
                                        [value]="data.id" [id]="'promotions_'+data.id"
                                        formArray="promotionsArray" (change)="onChangePromotions($event)">
                                        <label class="form-check-label ms-2" [for]="'promotions_'+data.id">
                                            {{data.annee}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ======================== REGIONS ======================= -->
                <div class="col" *ngIf="regions$ | async as regions">
                    <div class="card h-100">
                        <div class="image_card text-center p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>
                        </div>
                        <div class="card-body">
                            <div class="card-title fs-5 text-center fw-bold titre">Regions</div>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let data of regions">
                                        <input class="form-check-input me-1" type="checkbox" 
                                        [value]="data.id" [id]="'regions_'+data.id"
                                        formArray="regionsArray" (change)="onChangeRegions($event)">
                                        <label class="form-check-label ms-2" [for]="'regions_'+data.id">
                                          {{data.nom}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3 submit_button">
                <div class="col-12 col-md-7">
                    <button type="submit" class="btn rounded-pill w-100 fw-bold p-2">Exporter</button>
                    <div *ngIf="loading$ | async" class="rounded-pill text-center loader_spinner
                        d-flex justify-content-center align-items-center">
                    <div class="spinner-border" role="status"></div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
