.card {
    border: none;
    color: #063a47ea;
    cursor: pointer;

    .titre {
        color: #0093b7;
    }

    .signature_carte {
        display: flex;
        flex-direction: column;
        font-size: .5rem;
        color: #144552c2;
        position: absolute;
        bottom: .3rem;
        left: .7rem;
    }

    .remove_carte {
        position: absolute;
        top: .1rem;
        right: .3rem;
        transform: scale(1);
        transition: transform .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        svg {
            fill: #f8080880;
            filter: drop-shadow(1px 2px 3px #ebeaeab8);
        }
    }

    .edit {
        .modifier {
            box-shadow: inset 1px 1px 7px #ebeaeab8, 
                inset -1px -1px 7px #ebeaeab8;
            svg {
                fill: #0abbe7f1; 
            }
        }
    }
}

.current::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 0 0 100% 0;
    background-color: #f80707de;
}
