#login {
    z-index: 1;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(to left bottom, #dbe82e, #4dd76f, #00b9a4, #0093b7, #0a6a9d);
        z-index: -2;
    }

    &::after {
        content: '';
        position: fixed;
        background-color: #fff;
        z-index: -2;
    }

    figcaption {
        color: #fff;
    }

    @media screen and (max-width: 767px) {
        &::before{
            height: 50%;
            width: 100vw;
            border-radius: 0 0 13px 13px;
        }

        &::after {
            bottom: 0;
            height: 50%;
            width: 100%;
        }
    }

    @media screen and (min-width: 767px) {
        &::after {
            top: 0;
            right: 0;
            height: 100%;
            width: 50vw;
        }

        &::before {
            height: 100%;
            width: 50vw;
        }
    }

    .formulaire {
        z-index: 2;
        background-color: #fff;

        .container_formulaire {
            background-color: #f9f9f9bf;  
            box-shadow: inset 1px -1px 7px 3px #edededbd;  
            .texte {
                color: #0093b7;
                span {
                    filter: drop-shadow(3px 3px 3px #e9e5e5ea);
                }
            }
    
            form {
                .input {
                    #identifiant, #password {
                        border-radius: 31px 13px;
                        border: none;
                        box-shadow: 0px 2px 3px 1px #72727217;
                        font-size: .8rem;
                    }
        
                    label {
                        color: #0092b7e3;
                        opacity: .8;
                        filter: drop-shadow(3px 3px 3px #dfdbdbea);
                    }
                }

                .checkbox {
                    label {
                        color: #a9a7a7f2;
                        font-size: .83rem;
                    }
                }

                .btnlogIn {
                    position: relative;
                    button {
                        border: none;
                        color: #fff;
                        letter-spacing: .7px;
                        filter: drop-shadow(3px 3px 3px #c4c0c0ea);
                        background-image: linear-gradient(to right top, #dbe82e, #4dd76f, #00b9a4, #0093b7, #0a6a9d);
                        transform: scale(1);
                        transition: all .3s ease-in-out;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
    
                    .loader_spinner {
                        position: absolute;
                        background: #ffffff79;
                        width: 111.47px;
                        height: 36.39px;
                        color: #0093b7;
                    }
                }
    
                .btnlogIn, .forgot_password {
                    button {
                        font-size: .85rem;
                    }
                }
                
                .forgot_password {
                    button {
                        color: #0093b7;
                    }
                }
    
                div.text_error_handling {
                    color: #ec0404f1;
                }
            }
        }
    }
}